.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  user-select: none;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 2%;
  font-weight: 200;
}

.header-padding {
  margin-left: 2%;
  margin-right: 2%;
}